/* =============================== Discount css Start ============================ */
.discount-item {
    padding: clampCal(24, 48, 1199, 1599);
    &__content{
        max-width: 320px;
    }
}

.discount-three-item {
    padding: clampCal(32, 136) clampCal(24, 56);
}

.copied i::before {
    content: "\E1CC" !important;
}
/* =============================== Discount css End ============================ */