// background
@each $color, $shades in $colors {
    @each $shade, $value in $shades {
      .bg-#{$color}-#{$shade} {
        background-color: var(--#{$color}-#{$shade}) !important;
      }
    }
}

// hover background
@each $color, $shades in $colors {
    @each $shade, $value in $shades {
      .hover-bg-#{$color}-#{$shade} {
        &:hover {
            background-color: var(--#{$color}-#{$shade}) !important;
        }
      }
    }
  }

  .hover-bg {
    &-white {
      &:hover {
        background-color: hsl(var(--white)) !important;
      }
    }
  }

  .bg-white {
    &-12 {
      background: #FFFFFF1F;
    }
    &-06 {
      background: #FFFFFF0F !important;
    }
  }


.bg-light-purple {
  background: #ECDBEC !important;
}

.bg {
  &-black-light {
    background-color: #1A1A1A;
  }
  &-yellow {
    background-color: #FFCC53;
  }
  &-paste {
    background-color: #10D5DC;
  }
  &-yellow-light {
    background-color: #FFFCE1 !important;
  }
  &-danger-light {
    background-color: #FFEBEE !important;
  }
  &-purple-light {
    background-color: #F5E7FC !important;
  }
  &-danger-light {
    background-color: #FFE2F5 !important;
  }
  &-warning-light {
    background-color: #FBEEDD !important;
  }
  &-success-light {
    background-color: #F6F5DB !important;
  }
}

.gradient-shadow {
  position: relative;
  &::before, &::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    background: linear-gradient(90deg, #ffffff, transparent);
    z-index: 1;
  }
  &::after {
    inset-inline-start: auto;
    inset-inline-end: 0;
    background: linear-gradient(-90deg, #fff, transparent);
  }
}