.search-box {
    position: fixed;
    width: 100%;
    height: 100%;;
    z-index: 9;
    background: hsl(var(--black));
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .2s linear;
    transform: scale(.8);
    z-index: 9;
    &.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}

.border-half-start::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 30px;
    inset-inline-start: 0;
    top: 50%;
    background: var(--neutral-40);
    transform: translateY(-50%);
}